.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer span {
  color: #c3532b;
}

.title a {
  color: #c3532b;
  text-decoration: none;
  transition: 0.5s;
}
.title a:hover {
  font-size: 5.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
}

.code {
  color: #616161;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.start {
  text-align: center;
}

.trending {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;

  flex: 50%;
} 
.wsb {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;

  flex: 50%
}
.row {
  display: flex;
}
.entries {
  color: white;
  transition: .2s;
}
.entries:hover {
  font-size: 1.05rem;
  color: black;
}
.trendingTitle {
  font-size: 2.4rem;
  color: #c3532b;
  text-align: center;
}
.click {
  color: #c3532b;
  font-size: 1.5rem;
  font-weight: bold;
}
.click:hover {
  cursor: pointer
}
.subHeader {
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

