.row {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.pie {
    flex: 50%;
}
.description {
    flex: 50%;
}
.hide {
    display: none;
    margin-top: 50px;
}
.codeHeader {
    line-height: 1.5;
    font-size: 1.2rem;
}
.code {
    color: #616161;
    background: #fafafa;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}
.red {
    color: #c3532b;
}